

<mat-grid-list cols="1" *ngIf="!hero; else divHero">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divHero>

  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="2rem">

    <div fxFlex="50">
      <h1>{{ hero.superhero }}</h1>
      <mat-divider></mat-divider>
      <img [src]="hero | heroImage">
    </div>

    <div fxFlex="50">
      <h1>{{ hero.publisher }}</h1>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item>{{ hero.first_appearance }} </mat-list-item>
        <mat-list-item> {{ hero.characters }} </mat-list-item>
        <mat-list-item> {{ hero.publisher }} </mat-list-item>
        <mat-list-item> {{ hero.alter_ego }} </mat-list-item>
        <mat-list-item> {{ hero.id }} </mat-list-item>
        <button mat-flat-button
                color="primary"
                (click)="backToList()">
          Get back
        </button>
      </mat-list>
    </div>

  </div>


</ng-template>
