<h1>Create A New Hero </h1>

<div fxLayout="row" fxLayoutGap="3rem" >

  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field>
        <mat-label>Superhero</mat-label>
        <input matInput
            type="text"
            required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alter Ego</mat-label>
        <input matInput
            type="text"
            required>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>First apparition</mat-label>
      <input matInput
          type="text"
          required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input matInput
          type="text"
          required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creator</mat-label>
      <mat-select>
        <mat-option *ngFor="let publisher of publishers"
                      [value]="publisher.id">
              {{ publisher.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image Url</mat-label>
      <input matInput
          type="url"
          required>
    </mat-form-field>

    <br>

    <button mat-flat-button color='primary'>
      <mat-icon>edit</mat-icon>
      Edit
    </button>


  </div>

  <div fxFlex="50">
    <img [src]="hero | heroImage">
  </div>


</div>
